*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/** NAVBAR **/
nav{
    background-color: #F55A5A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}


.nav--text {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: -0.075em;
}



